@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>A clicking "game" using SignalR.</p>

<p>Thanks to <a href="https://github.com/SpilledMilkCOM">Parker Smart</a>, <a href="https://github.com/RandomNest">Brad Hutchison</a>,
    and <a href="https://github.com/rajrao">Raj Rao</a> who helped make this "game" possible.</p>
